.headerOption{
    cursor: pointer;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right:20px ;

}
.headerOption__title{
    font-size: 12px;
    font-weight: 400;
}
.headerOption__icon{
    object-fit: contain;
    height: 35px !important;
    width: 35px !important;
}
.headerOption:hover{
    color: black;
}